<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/style-error.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/user-card.css">
    <link rel="stylesheet" href="/css/task-card.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main class="error-container" role="main" style="text-align:center; padding: 40px 20px;">
    <h1>Упс! Что‑не так</h1>
    <p>Произошла ошибка. Пожалуйста, попробуйте вернуться назад или перейти на главную.</p>
    <a th:href="@{/ui/users}" class="back-home" role="button" aria-label="Вернуться на главную">Вернуться на главнюю</a>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
