<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="'User: ' + ${user.name}"></title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/user-card.css">
    <link rel="stylesheet" href="/css/task-card.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>
    <div class="wrapper">
        <div th:insert="~{fragments/header :: header}"></div>

        <!-- User Profile --->
        <div class="user-card" th:object="${user}">
            <div class="avatar">
                <img th:src="@{/ui/users/{id}/avatar(id=${user.id})}" alt="Avatar" width="64" height="64">
            </div>
            <button type="submit" class="delete-btn"
                    onclick="openDeleteConfirmationById('userDeleteConfirmation')">Delete user</button>

            <div class="user-info">
                <div class="name" th:text="${user.name}"></div>
                <div class="email" th:text="${user.email}"></div>
                <div class="tasks" th:text="|Created ${user.registeredAt.getDayOfMonth()}.${user.registeredAt.getMonth().getValue()}.${user.registeredAt.getYear()}
                                            ${user.registeredAt.getHour()}:${user.registeredAt.getMinute()}:${user.registeredAt.getSecond()} |" style="white-space: pre-line;">
                </div>
                <div class="tasks" th:text="'Tasks: ' + ${user.tasks.size()}"></div>
            </div>
        </div>

        <!-- Back to user list Button --->
        <br><br>
        <div class="action">
            <a style="margin-left: 25px" th:href="@{'/ui/users'}" class="arrow-btn">←</a>
        </div>

        <!-- Tasks --->
        <div class="container">
            <div class="header">
                <h1>[[${user.name}]]’s Tasks</h1>
                <button class="add-task-btn" onclick="openNewTaskPopup()">+</button>
            </div>

            <h2 style="margin-top: 40px; margin-bottom: 10px;">Active Tasks</h2>
            <div class="task-list">
                <div th:each="task : ${tasks}" th:if="${!task.isCompleted}">
                    <div th:replace="fragments/task-card :: task(task=${task}, user=${user}, isCompleted=${false})"></div>
                </div>
            </div>

            <h2 style="margin-top: 40px; margin-bottom: 10px;">Completed Tasks</h2>
            <div class="task-list">
                <div th:each="task : ${tasks}" th:if="${task.isCompleted}">
                    <div th:replace="fragments/task-card :: task(task=${task}, user=${user}, isCompleted=${true})"></div>
                </div>
            </div>
        </div>


        <!--Popups--->
        <div th:insert="fragments/popups :: new-task(${user.id}, ${task})"></div>
        <div th:insert="fragments/popups :: delete-user(${user.id})"></div>
        <div th:insert="fragments/popups :: delete-task"></div>
        <div th:insert="fragments/popups :: edit-task(${task})"></div>

        <!--JS connect--->
        <script src="/js/popup-handler.js"></script>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>
